<html>
<head>
    <title>Item detail</title>
    <style>
        .message{
            color:red;
        }
    </style>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
</head>
<body>
<div class="row">
<div class="col-md-6">
{% if error_message %}
    <h1>{{ error_message }}</h1>
{% endif %}
<h1>Item {{ item.id }}</h1>
<a class="btn btn-default" href="https://www.amazon.com/dp/{{ item.asin }}" target="_blank">item detail</a>
<h2>Review sentences</h2>
<div class="message">
<p>Please choose the reviews that fits your review style.</p>
</div>
<form method="post">
    {% csrf_token %}
    {% for sentence in sentences %}
        <div class="checkbox">
            <label for="sentence{{ sentence.id }}">
                <input name="sentence" value="{{ sentence.id }}" type="checkbox" id="sentence{{ sentence.id }}">
                {{ sentence.content }}
            </label>
        </div>
    {% endfor %}
    <input type="submit" value="Submit" class="btn btn-default">
</form>
</div>
</div>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>